@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    scroll-behavior: smooth;
  }

  html, body {
    @apply font-sans antialiased;
    overflow-x: hidden;
    width: 100%;
    max-width: 100vw;
  }

  #root {
    overflow-x: hidden;
    width: 100%;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-serif;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
